<ion-menu side="start">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-button expand="full" href="/home" routerDirection="navigateForward">
          <ion-icon slot="start" name="home"></ion-icon>
          Home
        </ion-button>
        <ion-button expand="full" href="/vehicle-info" routerDirection="navigateForward">
          <ion-icon slot="start" name="information-circle"></ion-icon>
          Vehicle Info
        </ion-button>
        <ion-button expand="full" href="/maintenance-schedule" routerDirection="navigateForward">
          <ion-icon slot="start" name="calendar"></ion-icon>
          Maintenance Schedule
        </ion-button>
        <ion-button expand="full" href="/maps" routerDirection="navigateForward">
          <ion-icon slot="start" name="map"></ion-icon>
          Maps
        </ion-button>
        <ion-button expand="full" href="/settings" routerDirection="navigateForward">
          <ion-icon slot="start" name="settings"></ion-icon>
          Settings
        </ion-button>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <div class="ion-page" main>
      <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button auto-hide="false"></ion-menu-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button href="/settings" routerDirection="navigateForward">
              <ion-icon slot="icon-only" name="settings"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Vehicle Info</ion-title>
        </ion-toolbar>
  </div>
  
  