<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Vehicle Info
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/settings" routerDirection="forward">
          <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Year:</ion-label>
    <ion-input [value]="year" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Make:</ion-label>
    <ion-input [value]="make" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Model:</ion-label>
    <ion-input [value]="model" readonly></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="getVehicleInfo()">
    Get Info
  </ion-button>
</ion-content> -->

<!-- Temp Test Code -->

<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-menu-button></ion-menu-button>
            Bluetooth Testing
        </ion-title>
        <ion-button (click)="getPaired()" slot="end">
            <ion-icon name="Bluetooth"></ion-icon>
            <p>Paired</p>
        </ion-button>
        <ion-button (click)="BSconnect()" slot="end">
            <ion-icon name="Bluetooth"></ion-icon>
            <p>BS</p>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-list>
    <ion-list-header>Bluetooth Devices (compareWith)</ion-list-header>


  </ion-list> -->

    <ion-list>
        <ion-list-header>Bluetooth Stuff</ion-list-header>

        <ion-item>
            <ion-label>Users</ion-label>
            <ion-select [(ngModel)]="chosenOne" (ionChange)="onChoosingOne()">
                <ion-select-option *ngFor="let device of devices" [value]="device.id">{{device.id}}</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-card-content ion-item *ngFor="let device of devices">
            <p>{{device.name || 'Unnamed'}}</p>
            <p>{{device.id}}</p>
            <p> RSSI: {{device.rssi}}</p>
        </ion-card-content>
    </ion-list>

    <p>{{chosenOne}}</p>
    <p>{{displaySub}}</p>
    <p>{{displayString1}}</p>
    <p>{{displayString2}}</p>
</ion-content>