<ion-menu side="start">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-button expand="full" href="/settings" routerDirection="navigateForward">
          <ion-icon slot="start" name="settings"></ion-icon>
          Settings
      </ion-button>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" main>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button href="/settings" routerDirection="navigateForward">
            <ion-icon slot="icon-only" name="settings"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>OBD App</ion-title>
      </ion-toolbar>
      
      <ion-content>
        <div class="ion-padding">
          <ion-item>
            <ion-button slot="start" (click)="callGetVINFromParserService()">
              Try
            </ion-button>
            <ion-label>VIN:</ion-label>
            <ion-label [(ngModel)]="HomePage.vin" class="HomePage"></ion-label>
          </ion-item>
          <ion-item>
            <ion-button slot="start">
              Try
            </ion-button>
            <ion-label>???:</ion-label>
            <ion-label>Temp</ion-label>
          </ion-item>
          <ion-item>
            <ion-button slot="start">
              Try
            </ion-button>
            <ion-label>???:</ion-label>
            <ion-label>Temp</ion-label>
          </ion-item>
        </div>
      </ion-content>
</div>

