<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            OBD&ME
        </ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/settings" routerDirection="forward">
                <ion-icon slot="icon-only" name="settings"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="../assets/2006-honda-crv.jpg"></ion-img>

    <ion-list>
        <ion-item *ngFor="let e of errors">
            <ion-label>
                {{e.name}}
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>