<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            OBD&ME
        </ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/settings" routerDirection="forward">
                <ion-icon slot="icon-only" name="settings"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img [src]="this.image" style='height:300px;' id='base64image'></ion-img>

    <ion-item>
        <ion-title style='padding-top: 10px; padding-bottom: 10px;'>Errors: </ion-title>
        <!-- <ion-button *ngIf="OBD.isConnected === true" (click)="updateErrorCodesSim()">HELP</ion-button> -->
    </ion-item>

    <ion-card *ngIf="errors.length !== 0">
        <ion-item *ngFor="let e of errors" (click)='popUp(e.code)'>
            <ion-icon *ngIf="e.severity === 1" name='alert-circle' slot="start"></ion-icon>
            <ion-icon *ngIf="e.severity !== 1" name='warning' slot="start"></ion-icon>
            <ion-label>
                <h2>{{e.code}}</h2>
                <h3>{{e.techDiscription}}</h3>
            </ion-label>
        </ion-item>
    </ion-card>
    <ion-card *ngIf="errors.length === 0">
        <ion-item>
            <ion-icon name="checkmark-done-circle" slot="start"></ion-icon>
            <ion-label>You have no errors yet!</ion-label>
        </ion-item>
    </ion-card>
</ion-content>
