<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Settings
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Bluetooth Connected</ion-label>
        <ion-icon *ngIf="bluetoothConnected" name="checkmark-circle-outline" color="sucsess"></ion-icon>
        <ion-icon *ngIf="!bluetoothConnected" name="close-circle-outline" color="danger"></ion-icon>
        <ion-select [(ngModel)]="chosenMac" (ionChange)="onChangeOfMac()">
            <ion-select-option *ngFor="let device of devices" [value]="device.id">{{device.name}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Dark Theme</ion-label>
        <ion-toggle [(ngModel)]="darkModeChecked" (ionChange)="toggleDarkTheme()"></ion-toggle>
    </ion-item>
    <ion-item>
        <ion-button (click)="deleteAll()">Delete Saved Data</ion-button>
    </ion-item>
</ion-content>
